div.midTable {
 position: absolute;
 top: 45%;
 left: 45%;
}

.onHover table thead tr th:hover {
	background-color:gray;
}

body{
	background-image: url("../img/QljQ23w.jpg");
	background-size: 100% 100%;
}

.botRightButton{
	position: absolute;
	bottom: 0;
	right : 0;
	background-color: #FF00FF;
	border: none;
	font-size: 250px;
	color: #00FFFF;
}
tr{
	text-align:center;	
}

td.clickable{
	color:lightblue;
	text-decoration:underline;
}
