<html>
    <head>
        <title></title>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
	<div class="navbar navbar-default navbar-fixed-top" id="main-navbar">
      <div class="container">
        <div class="navbar-header">
          <a href="/hockeypool" class="navbar-brand">HockeyPool!</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          	<ul class="nav navbar-nav">
            	<li class="dropdown">
              	<a class="dropdown-toggle" data-toggle="dropdown" href="/pools.php" id="themes">Pools<span class="caret"></span></a>
              	<ul class="dropdown-menu" aria-labelledby="themes">
                	<li><a href="../default/">Default</a></li>
                	<li class="divider"></li>
                	<li><a href="../cerulean/">Dropdown item!</a></li>
              	</ul>
            	</li>
            	<li>
              	<a href="../my_teams.php">My Teams</a>
            	</li>
            	<li>
             		<a href="http://news.bootswatch.com">Owners</a>
            	</li>
          	</ul>

          	<ul class="nav navbar-nav navbar-right">
            	<li><a href="/login.php">Login</a></li>
            	<li><a href="/register.php">Register</a></li>
        	</ul>
    	</div>
	</div>
</div>
<body style="padding-top:65px;">
 <!--   <a style="display:block; margin-top:60px;" id="menu-btn" href="#"><span class='glyphicon glyphicon-menu-up'></span></a>--> 
    <div class="container">
    	{% block primary_content %}
     	{% endblock %}
	</div>
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
$(document).ready(function(){
    $('#menu-btn').click(function(){
            var margTop = $('#menu-btn').css('margin-top').toString();
            if (margTop === "0px")
            {
                $('#main-navbar').animate({
                            top: "0px"
                            }, 300, function(){
                    });

                    $('#menu-btn').animate({
                            marginTop: "60px"
                            }, 300, function(){
                    });

                    $('#menu-btn').html("<span class='glyphicon glyphicon-menu-up'></span>");
            }else
            {
                    $('#main-navbar').animate({
                            top: "-60px"
                            }, 300, function(){
                    });

                    $('#menu-btn').animate({
                            marginTop: "0px"
                            }, 300, function(){
                    });

                    $('#menu-btn').html("<span class='glyphicon glyphicon-menu-down'></span>");
            }
    });       			top: "0px"
 
});
</script>

