{% extends 'base.twig' %}


{% block primary_content %}
<div class = "midTable">
	<div class="bs-component">
        <div class="table-responsive">
    		<table class="table table-striped table-hover">
    			<thead class="thead-inverse">
            		<tr class = "success">
            			<th> Owner Name </th>
            			<th>Team Name</th>
            			<th>Fantasy points</th>
            		</tr>
            	</thead>
            	{% for teams in teams_in_pool%}
            		<tr>
            		<td>{{ teams.name }} </td>
            		<td>{{teams.team_name}}</td>
            		<td>{{ teams.FantasyPoints }}</td>
            		</tr>
            	{% endfor %}
             	
     		</table>
		</div>
	</div>
</div>


</html>

{% endblock %}