{% extends 'base.twig' %}

{% block primary_content %}
 <div class="page-header" id="banner">
    <div class="row" style="margin-top:5%">
      <div class="jumbotron">
        <h1>HockeyPool</h1>
        <p class="lead">Is it cold in here?</p>
        <a href="login.php" class="btn btn-primary btn-md">Get started</a>
        <a href="create_team.php?pid=1&oid=3" class="btn btn-primary btn-md">Tyrone's Test Button</a>
      </div>
    </div>
  </div>
{% endblock %}